<h1>Regras do Grupo</h1>

<p>Logo ao concluir seu pedido, em até 6h você irá
receber um e-mail com o link de pagamento
(Via anúncio do Mercado Livre), após a confirmação do
pagamento despachamos seu produto no prazo máximo de até
10 dias corridos.</p>

<p>Teremos o maior <strong>PRAZER</strong> em esclarecer todas suas dúvidas!</p>

<p>Nossos PEDIDOS são fechados SEMPRE <br/>
4 DIA ANTES DE VIAJARMOS</p>

<h2>Como Trabalhamos!</h2>

<p>O cliente escolhe os produtos pela nossa busca, onde já terá o valor final.

produtos + comissão + frete</p>

<p><strong>Trabalhamos no atacado e varejo com comissão de:</strong></p>
<ul>
  <li>✓ 18% no atacado</li>
  <li>✓ 25% varejo</li>
  <li>✓ Enviamos via SEDEX</li>
</ul>

<p><strong>Forma de pagamento</strong></p>
<ul>
  <li>✓ Deposito</li>
  <li>✓ Transferência</li>
  <li>✓ Mercado livre</li>
</ul>

✓ Forma de pedido
✓ o cliente escolhe os produtos, fazemos a cotação

✓ calculamos produtos+ comissão +frete


✓ Postamos em48HORAS

✓DIAS DE PEDIDOS
✓segunda a sexta

✓ DIAS DE POSTAGENS
✓ de segunda a sexta                                                                                                                                                                                                               
⚠ ATENÇÃO ⚠

Não somos responsável se o pacote for aprendido na receita federal ou órgãos anuente

Somos responsável por fazer o transporte do Paraguai para o Brasil caso seja pego na receita compramos novos produtos para ser enviado ao cliente

Mandamos todo os pacotes com 100% com segurança e NOTA FISCAL e garantia das lojas


Deus vai te surpreender, confie, espere, ele está contigo, nunca te abandonará.

Sejam todos bem vindos ao grupo!!

🇵🇾EUTAVIO FRETEIRO🇧🇷
